name: "GH Actions"
on:
  push:
    branches:
      - 'release/**'
      - 'sandbox/**'
      - 'gh-actions'
  release:
    types: [published, created, edited]

jobs:
  test:
    name: "Run Unit Tests"
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.25.x", "1.24.x"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: "go test ./pkg/..."

  reports:
    name: "Run various reports on code basis"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangcli-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1

  simple-run:
    name: "Sanity Check"
    runs-on: "ubuntu-latest"
    needs: [test, reports]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: "make bin/vopher"
      - run: "./bin/vopher version"
